################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PDFFiller/v17/.suo
/.vs/slnx.sqlite
/.vs/PDFFiller/FileContentIndex/eea1361b-75c2-4cb5-9425-cb2fce14612e.vsidx
/.vs/PDFFiller/FileContentIndex
